/* UI BUTTON BAR */
.PoE-Expand-Challenges-Extension {
    line-height: 42px;
    height: 52px;
    width: 650px;
    position: relative;
    cursor: default;
    color: #e7b477;
    padding-left: 50px;
}

/* UI BUTTON */
.PoE-Expand-Challenges-Extension a {
    display: inline-block;
    width: 35px;
    height: 42px;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    background-size: contain;
}

.PoE-Expand-Challenges-Extension a:hover {
    filter: saturate(2);
}

.PoE-Expand-Challenges-Extension a:active {
    filter: saturate(0.8);
}

/* HIDDEN */
.POEECE-hidden {
    display: none;
}

/* PIN */
.POEECE-pin {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 63px;
    top: 20px;
    cursor: pointer;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/pin.png');
    overflow: hidden;
    background-size: contain;
    opacity: 0.4;
}

.POEECE-pin.toggled {
    transform: rotate(38deg);
    opacity: 1;
}

.POEECE-pin:hover {
    opacity: 1;
}

.POEECE-list {
    display: flex;
    flex-direction: column;
}

.POEECE-list > .POEECE-pinned {
    display: block;
}

/* HIDE COMPLETE */
.POEECE-hide-complete {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-hide-complete.png');
}
.POEECE-hide-complete.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-show-complete.png');
}

/* HIDE INCOMPLETE */
.POEECE-hide-incomplete {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-hide-incomplete.png');
}
.POEECE-hide-incomplete.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-show-incomplete.png');
}

/* EXPAND COMPLETE */
.POEECE-expand-complete {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-expand-complete.png');
}
.POEECE-expand-complete.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-collapse-complete.png');
}

/* EXPAND INCOMPLETE */
.POEECE-expand-incomplete {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-expand-incomplete.png');
}
.POEECE-expand-incomplete.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-collapse-incomplete.png');
}

/* HIDE ITEM */
.POEECE-hide-complete-item {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-item-normal.png');
}
.POEECE-hide-complete-item.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-item-toggled.png');
}

/* SHOW NUMBER */
.POEECE-show-number {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-number-normal.png');
}
.POEECE-show-number.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-number-toggled.png');
}

/* SHOW PINS */
.POEECE-show-pins {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-pin-normal.png');
}
.POEECE-show-pins.toggled {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/button-pin-toggled.png');
}

/* MOZILLA FIREFOX IMAGES OVERWRITE */
@supports (-moz-appearance:none) {
    .POEECE-hide-complete               { background-image: url('/images/button-hide-complete.png'); }
    .POEECE-hide-complete.toggled       { background-image: url('/images/button-show-complete.png'); }
    .POEECE-hide-incomplete             { background-image: url('/images/button-hide-incomplete.png'); }
    .POEECE-hide-incomplete.toggled     { background-image: url('/images/button-show-incomplete.png'); }
    .POEECE-expand-complete             { background-image: url('/images/button-expand-complete.png'); }
    .POEECE-expand-complete.toggled     { background-image: url('/images/button-collapse-complete.png'); }
    .POEECE-expand-incomplete           { background-image: url('/images/button-expand-incomplete.png'); }
    .POEECE-expand-incomplete.toggled   { background-image: url('/images/button-collapse-incomplete.png'); }
    .POEECE-hide-complete-item          { background-image: url('/images/button-item-normal.png'); }
    .POEECE-hide-complete-item.toggled  { background-image: url('/images/button-item-toggled.png'); }
    .POEECE-show-number                 { background-image: url('/images/button-number-normal.png'); }
    .POEECE-show-number.toggled         { background-image: url('/images/button-number-toggled.png'); }
    .POEECE-show-pins                   { background-image: url('/images/button-pin-normal.png'); }
    .POEECE-show-pins.toggled           { background-image: url('/images/button-pin-toggled.png'); }
    .POEECE-pin                         { background-image: url('/images/pin.png'); }
}
